<%= turbo_frame_tag(Account.new) do %>
  <div class="mt-6 flex flex-col sm:flex-row">
    <%= link_to("Create account", new_account_path, data: { turbo_frame: Account.new, turbo_action: 'advance' }, class: btn_element(:green)) %>
  </div>
<% end %>
