<div class="container space-y-4 md:space-y-6 max-w-2xl">
  <h2 class="font-bold text-2xl"><%= current_user.full_name %> / My accounts</h2>
  <%= render(partial: "accounts/accounts_table", locals: { accounts: @accounts }) %>
  <%= render(partial: "accounts/create_account_link") %>
</div>
